/Integration_Project/src/main/java/com/example/integration_project/Controller/HelloController.java
/Integration_Project/src/main/java/com/example/integration_project/HelloApplication.java
/Integration_Project/src/main/java/com/example/integration_project/Model/User.java.bak
/.idea/misc.xml
/Integration_Project/src/main/java/com/example/integration_project/Launcher.java
/Integration_Project/src/main/java/com/example/integration_project/MovieTheaterApplication_BACKUP_1440.java
/.idea/misc.xml
/Integration_Project/src/main/java/com/example/integration_project/MovieTheaterApplication.java
/.idea/misc.xml
/Integration_Project/src/main/java/com/example/integration_project/Controller/ClientDashboardController.java.bak
/Integration_Project/src/main/java/com/example/integration_project/Controller/LogInViewController.java.bak
/Integration_Project/src/main/java/com/example/integration_project/Model/Showroom.java
/Integration_Project/src/main/java/com/example/integration_project/Model/Showtime.java
/Integration_Project/src/main/java/com/example/integration_project/Model/Showrooms.java
/Integration_Project/src/main/java/com/example/integration_project/Model/Showtimes.java
